{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pregunta list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Texto</th>
                <th>Orde</th>
                <th>Valores</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pregunta in preguntas %}
            <tr>
                <td>
                    <a href="{{ path('pregunta_show', { 'id': pregunta.id }) }}" title="{{ pregunta.id }}">
                        {{ pregunta.texto }}
                    </a>
                </td>
                <td>{{ pregunta.orde }}</td>
                <td>
                    <select>
                    {% for opcion in pregunta.opcions %}
                        <option>{{ opcion.valor }}</option>
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pregunta_show', { 'id': pregunta.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pregunta_edit', { 'id': pregunta.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pregunta_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
