{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Resumo
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Total enquisas</dt>
                    <dd>{{ total }}</dd>
                </dl>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    
    {# FIXME: non ven de forma correcta o array #}
    {% for pregunta in preguntas %}
    <div class="col-lg-6">
        <div class="panel panel-default panel-pregunta" data-id="{{ pregunta.id }}">
            <div class="panel-heading">
                {{ pregunta.texto }}
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="chart"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    {% endfor %}
        
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    <link href="{{ asset('assets/bower_components/morrisjs/morris.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="{{ asset('assets/bower_components/raphael/raphael-min.js') }}"></script>
    <script src="{{ asset('assets/bower_components/morrisjs/morris.min.js') }}"></script>
    <script>
    /*Morris.Bar({
        element: 'morris-bar-chart',
        data:  preguntaStats|json_encode()|raw ,
        xkey: 'valor',
        ykeys: ['conta'],
        labels: [' preguntaStats.0.texto '],
        hideHover: 'auto',
        resize: true
    });
    
    Morris.Donut({
        element: 'morris-bar-chart',
        data:  preguntaStats|json_encode()|raw 
    });*/
    
    // FIXME: non ven de forma correcta o array
    $(document).ready(function() {
        $('.panel-pregunta').each(function(i, panel) {
            console.log($(panel).data('id'));
        });
    });
    </script>
{% endblock %}
