{% extends 'base.html.twig' %}

{% block title %}Editar enquisa{% endblock %}

{% block body %}
    <h1>Enquisa edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editar" class="btn btn-warning" />
    {{ form_end(edit_form) }}

    <div>
        <a href="{{ path('enquisa_index') }}" class="btn btn-primary">Listado</a>

        {{ form_start(delete_form) }}
            <input type="submit" value="Eliminar" class="btn btn-danger">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
