{% extends 'base.html.twig' %}

{% block body %}
    <h1>Enquisa</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enquisa.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ enquisa.nome }}</td>
            </tr>
            <tr>
                <th>Ficheiro</th>
                <td>{{ enquisa.ficheiro }}</td>
            </tr>
            <tr>
                <th>Procesada</th>
                <td>{% if enquisa.procesada %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('enquisa_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('enquisa_edit', { 'id': enquisa.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
