{% extends 'base.html.twig' %}

{% block body %}
    <h1>Restaurante list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Accións</th>
            </tr>
        </thead>
        <tbody>
        {% for restaurante in restaurantes %}
            <tr>
                <td><a href="{{ path('restaurante_show', { 'id': restaurante.id }) }}">{{ restaurante.nome }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('restaurante_show', { 'id': restaurante.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('restaurante_edit', { 'id': restaurante.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('restaurante_new') }}">Engadir novo restaurante</a>
        </li>
    </ul>
{% endblock %}
