{% extends 'base.html.twig' %}

{% block body %}
    <h1>Restaurante</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ restaurante.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ restaurante.nome }}</td>
            </tr>
        </tbody>
    </table>

    <div>
            <a href="{{ path('restaurante_index') }}" class="btn btn-primary">Voltar ao listado</a>
            <a href="{{ path('restaurante_edit', { 'id': restaurante.id }) }}" class="btn btn-warning">Editar</a>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar"  class="btn btn-danger"/>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
